mixin description()
    section.description()&attributes(attributes)
        p У главной героини при загадочных обстоятельствах погибает брат. Девушку начинают преследовать реалистичные кошмары, и она отправляется в институт сомнологии, где ее вместе с другими пациентами погружают в совместное осознанное сновидение. Но после наступления рассвета они проснутся совсем в другой реальности, которая страшнее любого кошмара
        .description__more