mixin location()
    section.location()&attributes(attributes)
        h4.location__header Места проведения
        .location__body
            +btn('Аврора').btn-outline-primary.active
            +btn('Октябрь').btn-outline-primary
            +btn('Дворец Республики').btn-outline-primary
            +btn('Беларусь').btn-outline-primary
            +btn('Арт Кинотеатр ТЦ Титан').btn-outline-primary
