include ../blocks/btn/btn.pug
include ../blocks/calendar/calendar.pug
include ../blocks/cover/cover.pug
include ../blocks/event/event.pug
include ../blocks/event-poster/event-poster.pug
include ../blocks/image/image.pug
include ../blocks/share/share.pug
include ../blocks/objects/objects.pug
include ../blocks/about-text/about-text.pug
include ../blocks/event-title/event-title.pug
include ../blocks/description/description.pug
include ../blocks/location/location.pug
include ../blocks/dates-show/dates-show.pug
