mixin share()
    section.share()&attributes(attributes)
        span.share__title Рассказать друзьям
        ul.share__buttons
            li.share__button_fb
                a(href='#') share via facebook
            li.share__button_vk
                a(href='#') share via vk
            li.share__button_twitter
                a(href='#') share via twitter